{{define "head"}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{.title}}</title>
<link rel="shortcut icon" href="/static/images/favicon.ico">
<!--build:css /static/css/base.css -->
<link rel="stylesheet" href="/static/css/base.scss">
<link rel="stylesheet" href="/static/css/markdown.scss">
<!-- endbuild -->
{{end}}