* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  height: 80px;
  background: #FFF;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 10px;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .navbar-brand {
    img {
      vertical-align: middle;
    }
  }

  .navbar-nav {
    list-style: none;
  }
}

.flex-right{
  margin-left: auto;
}

.container {
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.article {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
  
  .article-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .article-header__meta {
    display: flex;
    flex-flow: row nowrap;
    color: #aaa;
  }

  .article-header__title {
    color: #2c3e50;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
  }

  .article-header__category {
    font-size: 1rem;
  }

  .article-header__date {
    margin-left: 1rem;
  }

  .article-body {
    color: #555;
    margin: 1rem 0;
    padding-top: 1rem;
    border-top: 1px solid #e5e5e5;
  }

  .article-body, .article-summary {
    color: #555;
    margin: 1rem 0;
  }
  
  a.article-header__title {
    &:link {
      color: #2c3e50;
    }

    &:visited {
      color: #666;
    }

    &:hover {
      border-bottom-color: #42b983;
    }
  }
}


.button-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background: #eee;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
}

.article-toolbox form .btn {
  margin-left: 10px;
}

.button-group .btn + .button-group .btn{
  margin-left: 10px;
}

.comment-form {
  padding: 10px 0;
}

.form-group {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0;

  .form-group__label {
    flex-basis: 100px;
    color: #606266;
  }

  .form-group__content {
    flex: 1;
  }
  
  .form-group__content input {
    height: 32px;
  }
  
  .form-group__content textarea, 
  .form-group__content select, 
  .form-group__content input {
    width: 100%;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    font-size: 14px;
    font-family: helvetica neue,luxi sans,dejavu sans,Tahoma,hiragino sans gb,microsoft yahei,sans-serif;

    &:read-only{
      background: #f5f7fa;
      border-color: #dcdfe6!important;
    }
  }
  
  .form-group__content textarea {
    resize: vertical;
  }
  
  .form-group__content textarea:focus, 
  .form-group__content input:focus {
    outline: none;
    border-color: #ccc;
  }
}

.form .submit {
  margin-left: 100px;
}

.comment-list {
  margin-top: 20px;
}

.comment {
  display: flex;
  flex-flow: column nowrap;
  padding: 6px 0;
  border-top: 1px solid #eee;
}

.comment-header {
  display: flex;
  flex-flow: row nowrap;
}

.comment-header__username {
  color: #666;
}

.comment-header__time {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 1rem;
  font-size: 0.8rem;
  color: #aaa;
}

.comment-body {
  padding: 5px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, td {
  vertical-align: bottom;
  padding: 0.75rem;
  text-align: left;
}

.table thead th {
  border-bottom: 2px solid #e5e5e5;
}

.table tbody td {
  border-bottom: 1px solid #e5e5e5;
}

.pagination {
  list-style: none;
  display: flex;
  flex-flow: col nowrap;
}

.pagination-item {
  padding: 1rem;
  color: #666;
}

.pagination-item.active {
  color: #42b983;
  border-bottom: 1px solid #42b983;
}

.pagination-item__link {
  text-decoration: none;
}

.pagination-item__link:link,
.pagination-item__link:visited {
  font-weight: bold;
  color: inherit;
}

.pagination-item__link:hover {
  color: #7acea8;
}

.message {
  width: 100%;
  height: 40px;
  margin: 8px 0;
  line-height: 40px;
  white-space: nowrap;
  padding: 0 12px;
}

.message.error{
  border-left: 3px solid red;
  background: #ffe5e5;
}


.message.success{
  border-left: 3px solid #42b983;
  background: #ecf8f2;
}

@media (min-width: 576px) {
  
}

@media (min-width: 768px) { 

}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 0 60px;
  }
  
  .container {
    max-width: 1000px;
  }
}