{{define "header"}}
<header class="header">
  <nav class="navbar">
    <a href="/" class="navbar-brand">
      Simple Blog
    </a>
    <ul class="navbar-nav flex-right">
      {{if .login}}
      <li class="nav-item">
        <form action="/logout" method="post">
          <button>注销</button>
        </form>
      </li>
      {{else}}
      <li class="nav-item"><a href="/login">登录</a></li>
      {{end}}
    </ul>
  </nav>
</header>
{{end}}