{{define "blog/index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" .}}
  </head>
  <body>
    {{template "header" .}}
    <section class="container">
      {{range $article := .articles}}
      <article class="article">
        <div class="article-header">
          <a href="/articles/{{$article.ID}}" class="article-header__title">{{$article.Title}}</a>
          <div class="article-header__meta">
            <div class="article-header__category">
              <i class="iconfont icon-tag"></i>
              {{$article.Category.Name}}
            </div>
            <div class="article-header__date">
              <i class="iconfont icon-time"></i>
              {{$article.UpdatedAt|Date}}
            </div>
          </div>
        </div>
        <div class="article-summary markdown">
          {{$article.Content|Summary|Safe}}
        </div>
      </article>
      {{end}}
      {{.pagination}}
    </section>
  </body>
</html>
{{end}}