.article {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
  
  .article-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .article-header__meta {
    display: flex;
    flex-flow: row nowrap;
    color: #aaa;
  }

  .article-header__title {
    color: #2c3e50;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
  }

  .article-header__category {
    font-size: 1rem;
  }

  .article-header__date {
    margin-left: 1rem;
  }

  .article-body {
    color: #555;
    margin: 1rem 0;
    padding-top: 1rem;
    border-top: 1px solid #e5e5e5;
  }

  .article-body, .article-summary {
    color: #555;
    margin: 1rem 0;
  }
  
  a.article-header__title {
    &:link {
      color: #2c3e50;
    }

    &:visited {
      color: #666;
    }

    &:hover {
      border-bottom-color: #666;
    }
  }
}

.article-toolbox form .btn {
  margin-left: 10px;
}