{{define "admin/dashboard"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" .}}
    {{template "admin/head" .}}
  </head>
  <body>
    {{template "header" .}}
    {{template "admin/sidebar" .}}
    <div class="main">
      <div>
        <a href="/admin/articles/new">新增文章</a>
        <a href="/admin/categories">分类管理</a>
      </div>
    </div>
    {{template "admin/foot" .}}
  </body>
</html>
{{end}}