{{define "admin/updateArticle"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" .}}
    {{template "admin/head" .}}
  </head>
  <body>
    {{template "header" .}}
    {{template "admin/sidebar" .}}
    <div class="main">
      {{template "messages" .}}
      <div class="post-form">
        <form class="form" method="POST" action="/admin/articles/update/{{.article.ID}}">
          <input type="hidden" name="_method" value="PUT">
          <div class="form-group">
            <label class="form-group__label" for="usernameInput">标题：</label>
            <div class="form-group__content">
              <input id="usernameInput" type="text" name="title" value="{{.article.Title}}"/>
            </div>
          </div>
          <div class="form-group">
            <label for="categorySelect" class="form-group__label">分类：</label>
            <div class="form-group__content">
              <select id="categorySelect" name="categoryID" value="{{.article.CategoryID}}">
                {{range $category := .categories}}
                <option value="{{$category.ID}}" {{if eq $.article.CategoryID $category.ID }}selected{{end}}>
                  {{$category.Name}}
                </option>
                {{end}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="form-group__label" for="contentInput">内容：</label>
            <div class="form-group__content">
              <textarea name="content" id="contentInput" name="content" rows="20">{{.article.Content}}</textarea>
            </div>
          </div>
          <button class="btn submit" type="submit">更新</button>
        </form>
      </div>
    </div>
    {{template "admin/foot" .}}
  </body>
</html>
{{end}}