{{define "admin/dashboard"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" .}}
  </head>
  <body>
    {{template "header" .}}
    {{template "admin/sidebar" .}}
    <div class="main">
      {{range $card := .cards}}
      <div class="card">
        <div class="card-title">{{$card.Title}}</div>
        <div class="card-body text-center">{{$card.Body}}</div>
      </div>
      {{end}}
    </div>
  </body>
</html>
{{end}}