{{define "header"}}
<header class="header">
  <nav class="navbar">
    <a href="/" class="navbar-brand">
      <img src="/static/images/logo.png" alt="Logo">
    </a>
    <div class="nav-right">
    {{if .login}}
      <div class="nav-right-dropdown-toggle">
        {{ Config.Auth.Username }}
      </div>
      <ul class="nav-menu hidden">
        <li class="nav-menu-item">
          <a href="/admin/">控制台</a>
        </li>
        <li class="nav-menu-item">
          <form action="/logout" method="post">
            <button title="注销">注销</button>
          </form>
        </li>
      </ul>
    {{end}}
    </div>
  </nav>
</header>
{{end}}